
body { 
    background-image:url('images/hw1-background-image.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-bottom:5px;
}
h2 {
    margin-top:0px;
}
h3 {
    text-decoration:underline;
}
p {
    color:#e2e2e2;
    line-height:2;
}

#about {color:#f1928b;}
#party {color:#c5f18b;}
#water {color:#8bddf1;}
#usage {color:#dd8bf1;}

img {
    width:fit-content;
    height:150px;
    background-size:cover;
    border: 5px solid white;
    border-radius:15px;
}

.heading {

    display:flex;
    flex-direction:column;
    vertical-align:middle;

    width:100%;
    height:100px;
    background-color:#000000af;
    text-align:center;
    
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:7.5px solid #ffffffaf;

    color:white;
}

.content {
    display:flex;
    flex-direction:row;
}

.sub-topic {

    display:flex;
    flex-direction:column;
    align-items:center;

    width:25%;
    background-color:#000000af;
    color:white;

    padding:35px;
    margin:10px;
    border-radius:10px;
}